---
import { getCollection } from 'astro:content'
import Layout from '../../layout/layout.astro'
import BlogPost from '../../components/blog/blog-post.astro'

const posts = await getCollection('posts')
const sortedPosts = posts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())

const title = 'Blog | Guilherme Lopes'
const description = 'Blog about my interests and such, some cool stuff can be found here'
const canonical = 'https://guimox.dev/blog'
const current = 'blog'
---

<Layout title={title} description={description} canonical={canonical} current={current}>
  <section class="blog-list">
    <h1>Blog Posts</h1>
    {
      sortedPosts.map((post) => (
        <BlogPost
          title={post.data.title}
          description={post.data.description}
          pubDate={post.data.pubDate}
          heroImage={post.data.heroImage}
          url={`/blog/${post.slug}`}
        />
      ))
    }
  </section>
</Layout>
