---
import { getCollection } from 'astro:content'
import Layout from '../../layout/layout.astro'
import myImage from '../../assets/bg-meta.jpg'
import Title from '../../components/typo/title.astro'
import BlogPost from '../../components/section/blog-post.astro'

const posts = await getCollection('posts')
const sortedPosts = posts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())

const title = 'Blog | Guilherme Lopes'
const description = 'Blog about my interests and such, some cool stuff can be found here'
const canonical = 'https://guimox.dev/blog'
const current = 'blog'
---

<Layout title={title} description={description} canonical={canonical} current={current} image={myImage}>
  <section class="flex flex-col gap-8">
    <Title>Sometimes I share what's on my mind</Title>
    <div class="flex flex-col gap-10">
      {
        sortedPosts.map((post) => {
          return (
            <BlogPost
              title={post.data.title}
              description={post.data.description}
              pubDate={post.data.pubDate}
              body={post.body}
              tags={post.data.tags}
              url={`/blog/${post.slug}`}
            />
          )
        })
      }
    </div>
  </section>
</Layout>
