---
import { getCollection } from 'astro:content'
import BlogPost from '../../components/section/blog-post.astro'
import Layout from '../../layout/layout.astro'
import Title from '../../components/typo/title.astro'

export async function getStaticPaths() {
  const allPosts = await getCollection('posts')

  const allTags = allPosts.flatMap((post) => post.data.tags || [])
  const uniqueTags = [...new Set(allTags)]

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) => post.data.tags?.includes(tag))

    return {
      params: { tag: tag },
      props: { posts: filteredPosts, currentTag: tag },
    }
  })
}

const { posts, currentTag } = Astro.props
const title = `Posts tagged with "${currentTag}"`
const description = `Explore all posts tagged with ${currentTag}.`
const canonical = Astro.url.toString()
---

<Layout title={title} description={description} canonical={canonical} current={'blog'}>
  <section class="flex flex-col gap-8">
    {
      posts.length === 0 ? (
        <p>No posts found with the tag "{currentTag}".</p>
      ) : (
        <>
          <Title>Sharing content</Title>
          <div class="space-y-8">
            {posts.map((post) => (
              <BlogPost
                inRow={false}
                title={post.data.title}
                description={post.data.description}
                pubDate={post.data.pubDate}
                url={`/blog/${post.slug}/`}
                body={post.body}
                tags={post.data.tags || []}
                activeTag={currentTag}
              />
            ))}
          </div>
        </>
      )
    }
  </section>
</Layout>
