---
import { Icon } from 'astro-icon/components'
import TextParagraph from '../text/text-paragraph.astro'
import Badge from './badge.astro'

interface Props {
  title: string
  description: string
  badges: string[]
  type: string
  links: { type: string; url: string }[]
}

const { title, description, type, badges, links } = Astro.props
---

<div class="flex flex-col justify-between sm:flex-row sm:items-center">
  <div class="my-4 flex w-full flex-col gap-4 sm:w-4/5">
    <TextParagraph bold>{title} <span class="text-color"> • {type}</span></TextParagraph>
    <TextParagraph>{description}</TextParagraph>
    <div class="relative max-w-full">
      <ul class="scrollbar-thin scrollbar flex max-h-16 gap-2 overflow-x-auto text-sm">
        {badges.map((badge) => <Badge>{badge}</Badge>)}
      </ul>
    </div>
  </div>
  <div class="flex items-center gap-2 sm:flex-col">
    {
      links.map((link) =>
        link.type === 'github' ? (
          <a href={link.url} class="hover:opacity-50">
            <Icon name="mdi:github" class="text-2xl text-color" />
          </a>
        ) : (
          <a href={link.url} class="hover:opacity-50">
            <Icon name="mdi:web" class="text-2xl text-color" />
          </a>
        ),
      )
    }
  </div>
</div>
