---
import { Icon } from 'astro-icon/components'
import { getCollection } from 'astro:content'
import BlogPost from '../components/section/blog-post.astro'
import CardProject from '../components/section/card-project.astro'
import Content from '../components/section/content.astro'
import Link from '../components/typo/link.astro'
import Paragraph from '../components/typo/paragraph.astro'
import Small from '../components/typo/small.astro'
import Subtitle from '../components/typo/subtitle.astro'
import Title from '../components/typo/title.astro'
import Button from '../components/ui/button.astro'
import Layout from '../layout/layout.astro'
import ButtonLink from '../components/ui/button-link.astro'

const title = 'Guilherme Lopes | Software Developer'
const description = 'Homepage of my website, feel free to explore'
const canonical = 'https://guimox.dev'
const current = 'home'

const projects = await getCollection('projects')
const featuredProjects = projects.filter((project) => project.data.featured)

const posts = await getCollection('posts')
const sortedPosts = posts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
---

<Layout title={title} description={description} canonical={canonical} current={current}>
  <Content>
    <Title>Guilherme Lopes</Title>
    <Paragraph>
      <b>Software developer</b> capable of working on the frontend && backend. Interested about anything that is related
      to web (CI/CD, Docker, databases, frontend, backend and cool stuff). Passionate about the world web wide and its
      aspects.
    </Paragraph>
    <div class="flex gap-4">
      <ButtonLink href="https://github.com/guimox" target="_blank" aria-label="link to open my GitHub">
        <Icon name="mdi:github" class="text-lg" />
        <Small>Github</Small>
      </ButtonLink>
      <ButtonLink href="https://www.linkedin.com/in/guimox" target="_blank" aria-label="link to open my LinkedIn">
        <Icon name="mdi:linkedin" class="text-lg" />
        <Small>LinkedIn</Small>
      </ButtonLink>
    </div>
  </Content>
  <Content>
    <div class="flex items-center justify-between">
      <Subtitle>Blog</Subtitle>
    </div>
    <div class="flex flex-col gap-8">
      {
        sortedPosts.slice(0, 2).map((post) => {
          return (
            <BlogPost
              inRow={true}
              title={post.data.title}
              description={post.data.description}
              pubDate={post.data.pubDate}
              body={post.body}
              tags={post.data.tags!}
              url={`/blog/${post.slug}`}
            />
          )
        })
      }
    </div>
    <ButtonLink href="/blog" aria-label="See all blog posts">
      <Icon name="mdi:post-it-note-text-outline" class="text-lg" />
      <Small>See more posts</Small>
    </ButtonLink>
  </Content>
  <Content>
    <div class="flex items-center justify-between">
      <Subtitle>Projects</Subtitle>
    </div>
    <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
      {
        featuredProjects.map((project) => (
          <CardProject
            title={project.data.title}
            description={project.data.description}
            badges={project.data.badges}
            github={project.data.github}
            live={project.data.live}
          />
        ))
      }
    </div>
    <ButtonLink href="/projects" aria-label="See all projects">
      <Icon name="mdi:code" class="text-lg" />
      <Small>Explore projects</Small>
    </ButtonLink>
  </Content>
</Layout>
