---
import { Icon } from 'astro-icon/components'
import { getCollection } from 'astro:content'
import BlogPost from '../components/section/blog-post.astro'
import Link from '../components/typo/link.astro'
import Paragraph from '../components/typo/paragraph.astro'
import Subtitle from '../components/typo/subtitle.astro'
import Title from '../components/typo/title.astro'
import Badge from '../components/ui/badge.astro'
import Layout from '../layout/layout.astro'
import Small from '../components/typo/small.astro'
import Content from '../components/section/content.astro'
import Button from '../components/ui/button.astro'
import CardProject from '../components/section/card-project.astro'

const title = 'Guilherme Lopes | Software Developer'
const description = 'Homepage of my website, feel free to explore'
const canonical = 'https://guimox.dev'
const current = 'home'

const posts = await getCollection('posts')
const sortedPosts = posts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
---

<Layout
  title={title}
  description={description}
  canonical={canonical}
  current={current}
  ogImage="https://guimox.dev/og/index.png"
>
  <Content>
    <Title>Guilherme Lopes</Title>
    <Paragraph>
      <b>Software developer</b> capable of working on the frontend && backend. Interested about anything that is related
      to web (CI/CD, Docker, databases, frontend, backend and cool stuff). Passionate about the world web wide and its
      aspects.
    </Paragraph>
    <div class="flex gap-4">
      <Link href="https://github.com/guimox" target="_blank" aria-label="link to open my LinkedIn">
        <Button>
          <Icon name="mdi:github" />
          <Small>Github</Small>
        </Button>
      </Link>
      <Link href="https://www.linkedin.com/in/guimox" target="_blank" aria-label="link to open my LinkedIn">
        <Button>
          <Icon name="mdi:linkedin" />
          <Small>LinkedIn</Small>
        </Button>
      </Link>
    </div>
  </Content>
  <Content>
    <div class="flex items-center justify-between">
      <Subtitle>Blog</Subtitle>
      <Link href="/blog" aria-label="See all blog posts">
        <Button>
          <Small>See more →</Small>
        </Button>
      </Link>
    </div>
    <div class="flex flex-col gap-8">
      {
        sortedPosts.slice(0, 2).map((post) => {
          return (
            <BlogPost
              inRow={true}
              title={post.data.title}
              description={post.data.description}
              pubDate={post.data.pubDate}
              body={post.body}
              tags={post.data.tags!}
              url={`/blog/${post.slug}`}
            />
          )
        })
      }
    </div>
  </Content>
  <Content>
    <div class="flex items-center justify-between">
      <Subtitle>Projects</Subtitle>
    </div>
    <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
      <CardProject
        title="RU Menu"
        description="A serverless app that sends the formatted menu every day to multiple students at a public university"
        badges={['DAU 3000', 'AWS', 'TypeScript', 'Java']}
        github="https://github.com/guimox/ru-menu"
      />
      <CardProject
        title="Espoti"
        description="A project created for people to share their favorite songs with each other in random way"
        badges={['NextJS', 'Supabase', 'TypeScript']}
        github="https://github.com/guimox/espoti"
        live="https://espoti.com/"
      />
    </div>
  </Content>
</Layout>
