---
import { Icon } from 'astro-icon/components'
import myImage from '../assets/bg-meta.jpg'
import Layout from '../layout/layout.astro'
import Subtitle from '../components/typo/subtitle.astro'
import Paragraph from '../components/typo/paragraph.astro'
import Title from '../components/typo/title.astro'
import Small from '../components/typo/small.astro'
import Link from '../components/typo/link.astro'

const title = 'Guilherme Lopes | Software Developer'
const description = 'Homepage of my website, feel free to explore'
const canonical = 'https://guimox.dev'
const current = 'home'
---

<Layout title={title} description={description} canonical={canonical} current={current} image={myImage}>
  <section class="flex flex-col gap-4">
    <Title>Guilherme Lopes</Title>
    <Paragraph>
      Experienced <b>software developer</b> capable of working on the frontend and backend. Interested about anything
      that is related to web (CI/CD, Docker, databases, frontend, backend and cool stuff). Passionate about the world
      web wide and its aspects.
    </Paragraph>
    <div class="flex gap-4">
      <Link href="https://github.com/guimox" target="_blank" aria-label="link to open my GitHub">
        <Icon name="mdi:github" class="text-color text-lg" />
        <Paragraph>Github</Paragraph>
      </Link>
      <Link href="https://www.linkedin.com/in/guimox" target="_blank" aria-label="link to open my LinkedIn">
        <Icon name="mdi:linkedin" class="text-color text-lg" />
        <Paragraph>LinkedIn</Paragraph>
      </Link>
    </div>
  </section>
  <!-- <section class="flex flex-col gap-3">
    <Subtitle>Projects</Subtitle>
    <div class="flex flex-col gap-1">
      <Paragraph bold>RU Menu</Paragraph>
      <Paragraph>
        Serverless app that works together with a team of kitchen woman to delivery the delicious food menu of a
        college restaurant
      </Paragraph>
      <div class="flex gap-3">
        <Small>• DAU 1200</Small>
        <Small>• AWS</Small>
        <Small>• TypeScript</Small>
        <Small>• Java</Small>
      </div>
    </div>
    <div class="flex flex-col gap-1">
      <Paragraph bold>Gnose</Paragraph>
      <Paragraph>Project created to people share and spread their quotes around the world</Paragraph>
    </div>
  </section> -->
</Layout>
