---
import { Icon } from 'astro-icon/components'
import TextParagraph from '../components/text-paragraph.astro'
import TextTitle from '../components/text-title.astro'
import Layout from '../layout/layout.astro'
import { Image } from 'astro:assets'

const title = 'Guilherme Lopes | Software Developer'
const description = 'Homepage of my website, feel free to explore'
const canonical = 'https://guimox.dev'
const current = 'home'

import myImage from '../assets/bg-meta.jpg'
---

<Layout title={title} description={description} canonical={canonical} current={current}>
  <section class="flex flex-col gap-4">
    <Image src={myImage} alt={description} class="max-h-36 rounded-sm object-cover" />
    <TextTitle bold>Guilherme Lopes</TextTitle>
    <TextParagraph>
      Experienced <b>software developer</b> capable of working on the frontend and backend. Interested about anything
      that is related to web (CI/CD, Docker, databases, frontend, backend and cool stuff). Passionate about improving
      & trying things.
    </TextParagraph>
    <TextParagraph>You may find this website dull, but I've built other things.</TextParagraph>
    <div class="flex gap-4">
      <a
        href="https://github.com/guimox"
        target="_blank"
        aria-label="link to open my GitHub"
        class="inline-flex items-center gap-1"
      >
        <Icon name="mdi:github" class="text-color text-base" />
        <TextParagraph>Github</TextParagraph></a
      >
      <a
        href="https://www.linkedin.com/in/guimox"
        target="_blank"
        aria-label="link to open my LinkedIn"
        class="inline-flex items-center gap-1"
      >
        <Icon name="mdi:linkedin" class="text-color text-base" />
        <TextParagraph>LinkedIn</TextParagraph>
      </a>
    </div>
  </section>
</Layout>
