---
import { Icon } from 'astro-icon/components'
import { getReadingTime } from '../../utils/reading-time'
import { getDateFormatted } from '../../utils/time-format'
import Paragraph from '../typo/paragraph.astro'
import Subtitle from '../typo/subtitle.astro'
import Badge from '../ui/badge.astro'

interface Props {
  title: string
  description: string
  pubDate: Date
  url: string
  body: string
  tags: string[]
  activeTag?: string
  inRow: boolean
}

const { title, description, pubDate, url, body, inRow, tags, activeTag } = Astro.props as Props
---

<article class={`flex gap-4 group`}>
  <div class="flex w-full flex-col gap-4">
    <a href={url} class="flex w-full flex-col gap-2 hover:opacity-75">
      {inRow ? <Paragraph bold>{title}</Paragraph> : <Subtitle>{title}</Subtitle>}
      <Paragraph>{description}</Paragraph>
    </a>
    <div class="flex flex-wrap items-center gap-2">
      {
        tags?.map((tag: string) => (
          <Badge href={`/tags/${tag}`} active={tag === activeTag}>
            {tag}
          </Badge>
        ))
      }
    </div>
    <div class="flex items-center gap-3 text-sm text-gray-600">
      <div class="flex items-center gap-1">
        <Icon name="mdi:calendar-outline" class="text-lg text-zinc-700" />
        <time>{getDateFormatted(pubDate)}</time>
      </div>
      <div class="flex items-center gap-1">
        <Icon name="mdi:clock-outline" class="text-lg text-zinc-700" />
        <span>{getReadingTime(body)}</span>
      </div>
    </div>
  </div>
</article>
