---
import { ClientRouter } from 'astro:transitions'
import Header from '../components/header.astro'

import '../styles/global.css'
import '../styles/reset.css'

export interface Props {
  title: string
  description: string
  canonical?: string
  current: string
  noHead?: boolean
}

const { current, title, description, canonical } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="theme-color" content="#ff0" media="(prefers-color-scheme: light)" />
    <meta name="theme-color" content="#0000" media="(prefers-color-scheme: dark)" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="preload" href="/fonts/geist-regular.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
    <link rel="preload" href="/fonts/geist-bold.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
    <meta name="generator" content={Astro.generator} />
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <link rel="canonical" href={canonical} />
    <ClientRouter />
    <title>{title}</title>
  </head>
  <body class="mx-auto my-4 flex max-w-[875px] flex-col gap-4 px-4 antialiased">
    <Header current={current} />
    <main>
      <slot />
    </main>
  </body>
</html>
