---
import { ClientRouter } from 'astro:transitions'
import Header from '../components/section/header.astro'
import Footer from '../components/section/footer.astro'

import '../styles/code.css'
import '../styles/reset.css'
import '../styles/mansory.css'
export interface Props {
  title: string
  description: string
  canonical?: string
  current: string
  ogImage?: string
}

const { current, title, ogImage, description, canonical } = Astro.props
const isHome = current == 'home'
const isError = current == '404'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)" />
    <meta name="theme-color" content="#0000" media="(prefers-color-scheme: dark)" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="canonical" href={canonical} />

    <meta name="description" content={description} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content="https://guimox.dev" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Guimox" />
    <meta property="og:image" content={ogImage} />

    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />

    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <ClientRouter />
    <title>{title}</title>
  </head>
  <body
    class="mx-auto flex min-h-screen max-w-[800px] flex-col px-4 text-zinc-700 antialiased transition-all duration-300"
  >
    {!isError && <Header current={current} />}
    <main class="flex flex-col flex-grow items-start justify-start py-6 gap-5 sm:gap-10">
      <slot />
    </main>
    {!isHome && <Footer />}
  </body>
</html>
